html {
    position: relative;
    min-height: 100%;
}
.mainLayout {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.mainLayout > .mainContainer-region {
    padding: 60px 15px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.ajax-spinner {
    background-image: url("../images/spinner.gif");
    width: 50px;
    height: 50px;
}